*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

:root{

  --color-blue: #0B5294;

}

section{
  border-bottom: 0.026vw solid #00000052;
  padding-bottom: 1vw;

}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}


html{
    font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1;
}

.line{

  position: fixed;
  top: 0;

  height: 100vh;
  width: 0.026vw;

  /* width: 10vw; */

  background-color: #00000052;
}

.line:last-of-type{
  left: 1.823vw;

}

.line:first-of-type{
  right: 1.823vw;
}

