*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

:root{

  --color-blue: #0B5294;

}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a{
  text-decoration: none;
}

html{
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}

.line{

  position: fixed;
  top: 0;

  height: 100%;
  width: 0.026vw;

  /* width: 10vw; */

  background-color: #00000052;

  z-index: 998;
}

.line:last-of-type{
  left: 1.823vw;

}

.line:first-of-type{
  right: 1.823vw;
}

