.nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;

    border-bottom: 0.026vw solid #00000052;

    width: 100vw;
    height: 6.406vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 2.123vw;

    z-index: 1;
}

.nav img {
    width: 8.438vw;
    object-fit: cover;
}


.menuButtonClose,
.menuButton {


    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.469vw;

    font-size: 1.25vw;
    color: var(--color-blue);


    border: none;
    background-color: transparent;

}

.menuButtonClose {
    color: #fff;

}

.menuButtonClose div .line:last-of-type,
.menuButton div .line:last-of-type {
    margin-top: 0.4vw;
}

.menuButtonClose .line,
.menuButton .line {
    width: 5.781vw;
    height: 0.15vw;

    background-color: var(--color-blue);
}

.menuButtonClose .line {
    background-color: #fff;
}


.overlay {
    padding-inline: 2.123vw;

    overflow: hidden;

    position: fixed;
    top: 0vw;
    left: 0;

    transform: translateY(-100%);

    width: 100vw;
    height: 6.406vw;
    background-color: var(--color-blue);

    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay menu {


    list-style: none;
    display: flex;

    gap: 1.25vw;
}

.overlay menu li {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}

@media screen and (max-width: 900px) {

    .nav {
        height: 15vw;
    }

    .nav img {
        width: 20.25vw;

    }


    .menuButtonClose,
    .menuButton {
        font-size: 6vw;
    }

    .menuButtonClose .line,
    .menuButton .line {
        width: 27.75vw;
        height: 0.5vw;
    }

    .menuButtonClose div .line:last-of-type,
    .menuButton div .line:last-of-type {
        margin-top: 1.5vw;
    }


    .overlay {
        padding-inline: 2.123vw;

        overflow: hidden;

        position: fixed;
        top: 0vw;
        left: 0;

        height: 56.406vw;


        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .overlay menu {
        
        flex-direction: column;
        
        gap: 5.25vw;
    }

    .overlay menu li {

    }
}